/* BODY TYPOGRAPHY */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* HEADINGS TYPOGRAPHY */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .5s;
}

:root{
    /* primary */
    --very-dark-blue: hsl(243, 87%, 12%);
    --desaturated-blue: hsl(238, 22%, 44%);

    /* accent */
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);

    /* neutral */
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
}

body, 
html{
    font-family: 'Open Sans', sans-serif !important;
}

nav,
h1{
    font-family: 'Raleway', sans-serif !important;
}

.page-header .nav-links a{
    color: var(--very-dark-blue);
}

section:nth-of-type(1) {
    padding-top: 10rem;
}

section:nth-of-type(2){
    padding-top: 15rem;
}

.submit-btn{
    background-color: var(--bright-blue);
}

.about a{
    border-bottom: 1px solid var(--moderate-cyan);
}

.opinion p{
    font-size: 14px;
    line-height: 1.7;
}

.user-img{
    background-image: url(images/avatar-testimonial.jpg);
    background-size: cover;
}

.user-title{
    font-size: 13px;
}

.footer-subscription{
    background-color: var(--desaturated-blue);
}   

footer{
    background-color: var(--very-dark-blue);
}

footer a{
    color: var(--light-gray); 
    width: fit-content;
}

.social-links a{
    border: 1px solid white;
}

/* HOVER STATES  */

.fylo-link:hover{
    color: hsl(170, 46%, 55%) !important;
}

.submit-btn:hover{
    background-color: hsl(224, 100%, 72%);
}

footer a:hover{
    color: hsl(224, 100%, 72%);
}

.social-links a:hover{
    border: 1px solid hsl(224, 100%, 72%);
}